/*** 

====================================================================
		Work Section
====================================================================

***/
.work-section {
  position: relative;
  padding: 120px 0 70px;
}
.work-section:before {
  position: absolute;
  left: -260px;
  top: 75px;
  height: 590px;
  width: 640px;
  background-image: url(../images/icons/shape-10.png);
  background-repeat: no-repeat;
  background-position: center left;
  content: "";
}
.work-section .sec-title {
  margin-bottom: 50px;
}

.work-tabs {
  position: relative;
}
.work-tabs .tab-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.work-tabs .tab-buttons .tab-btn {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: var(--theme-color1);
  text-align: center;
  padding: 30px 30px;
  font-family: var(--title-font);
  background-color: #f4f5f8;
  cursor: pointer;
}
.work-tabs .tab-buttons .tab-btn.active-btn {
  background-color: var(--bg-theme-color1);
  color: #ffffff;
}
.work-tabs .content-column {
  position: relative;
  margin-bottom: 50px;
}
.work-tabs .content-column .inner-column {
  padding: 0 35px;
}
.work-tabs .content-column .inner-column h3 {
  font-size: 34px;
  margin-bottom: 40px;
}
.work-tabs .content-column .inner-column > .text {
  margin-bottom: 40px;
}
.work-tabs .content-column .about-block-two:last-child {
  margin-bottom: 0;
}
.work-tabs .image-column {
  position: relative;
  margin-bottom: 50px;
}
.work-tabs .image-column .image {
  margin-bottom: 0;
  border-radius: 10px;
  overflow: hidden;
}